* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive;
    color: #4b4f4d;
    background-color: #95876d;
  }
  
  h1 {
    font-family: 'Silkscreen', sans-serif;
  }
  
  