* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family: 'Outfit', sans-serif;
    color: #4b4f4d;
    background-color: #bcb3a3;
  }
  
  h1 {
    font-family: 'Silkscreen', sans-serif;
    color: #5E5B56;
  }  
  