* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #4b4f4d;
background-color: #F5F4F1;
  }      
  
  h1 {
    font-family: 'Silkscreen', sans-serif;
    color: #5E5B56;
  }  
  